
.products {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:8%;
    margin-left: 4%;
    margin-top: 2%;
  }
  .products .add {
    background-color: #333;
    color: white;
    border: none;
  }
  .products .view {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  .products img {
    width: 200px;
    height: 200px;
  }
  .products h3 {
    margin: 0;
    font-size: 16px;
    color: #4CAF50;
  }
  
 
